{% extends "base.base.twig" %}

{% block content %}
    {% include 'base.banner.twig' %}

    <h1>Add Player</h1>
    {{ form.error_block(errors) }}
    <form class="form-horizontal" role="form" method="post" action="/admin/players/">
        {{  csrf_field()|raw }}
        {{ form.input_text("firstName", "First Name", "", null, errors)  }}
        {{ form.input_text("lastName", "Last Name", "", null, errors)  }}
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-2">
                <a href="/stats/players" class="btn btn-default" role="button">
                    Cancel
                </a>
            </div>
            <div class="col-lg-8 text-right">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
